#body{
    margin: auto;
    width: 1000px;
}
.faqbanner {
    margin: 0 auto;
    width: 1024px;
    height: 155px;
    background:url("../src/faqbanner.jpg") no-repeat;
}
.banner {
    background: #fffaf4 url("../src/faqbanner.jpg") repeat-x center top;
    height: 254px;
    width: 100%;
}
.loca{
    font-size: 12px;
    height: 29px;
    padding: 25px 0 15px;
    border-bottom: 1px solid #c7d6e5;
}
.qlink{
    float: right;
    line-height: 20px;
    height: 20px;
    margin-top: 4px;
    color: #444866;
    font-size: 12px;
}
.home{
    float: left;
    width: 20px;
    height: 20px;
    background: url("../src/home.png") no-repeat;
}
ca h2{
    line-height: 29px;
    font-size: 20px;
    color: #444866;
    padding-left: 30px;
    height: 29px;
}
.div1{
    padding: 30px 0 26px 0;
    color: #444866;
    float: left;
}
.box1{
    height: 134px;
    width: 326px;
    background-color: #f1f1f1;
    float: left;
    margin-right: 10px;
    text-align: center;
}
.box1:last-child{
    margin-right: 0;
}
.box1-photo{
    margin: auto ;
    width: 60px;
    height: 60px;
}
.box1 p{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.box1 h1{
    line-height: 26px;
    font-size: 24px;
    font-weight: normal;
}
.box1 a{
    color: #444866;
    text-decoration: none;
}
.box1 a:hover{
    text-decoration: underline;
}
.div2{
    float: left;
    font-size: 12px;
    color: #444866;
    margin-bottom: 80px;
    border-bottom: #dbe1e7 1px solid;
}
.faq_t{
    line-height: 24px;
    color:#444866;
    font-size: 24px;
    font-weight: bold;
}
.div2-list{
    border-right: #dbe1e7 1px solid;
    border-bottom: #dbe1e7 1px solid;
    width: 1005px;
    margin-bottom: 80px;
}
.box2{
    list-style: none;
}
.box2 li{
    text-align: center;
    border-top: #dbe1e7 1px solid;
    border-left: #dbe1e7 1px solid;
    float: left;
    width: 249px;
    height: 150px;
}
.box2 li:last-child{
    border-right: #dbe1e7 1px solid;
}
.box2 li.right{
    border-right: #dbe1e7 1px solid;
}
.box2-a{
    display: block;
    width: 249px;
    height: 150px;
    background-color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    color: #444866;
}
.box2-a:hover{
    background-color: lightgray;
    font-weight: bold;
}
.top-box{
    padding-top: 35px;
}
.box2-img{
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: none;
}
.box2 p{
    margin-top: 5px;
    font-size: 14px;
}
.b1-1 .box1-photo{
    background: url('../src/faqicon.png') no-repeat;

}
.b1-2 .box1-photo {
    background: url('../src/faqicon.png') no-repeat 0 -200px ;
}
.b1-3 .box1-photo {
    background: url('../src/faqicon.png') no-repeat 3px -133px ;
}
