<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
    	<div class="header-left">
    		<div class="header-left-broken-line"></div>
    	</div>
    	<div class="header-title">数据可视化</div>
    	<div class="header-right">
    		<div class="header-right-broken-line"></div>
    	</div>
    </div>
    <div class="main">
    	<div class="content">
    		<div class="weather">
    			<div class="box">
    				<div class="title">天气预报</div>
    				<div class="weather-top"></div>
    			</div>
    		</div>
    		<div class="movie">
    			<div class="box">
    				<div class="title">电影票房</div>
    				<div class="movie-top">
    					<div class="sales-data">
    						<h2>1556.67 <span>万</span></h2>
    						<ul>
    							<li>截止北京时间13:59:14</li>
    							<li>票房预测：万</li>
    						</ul>
    					</div>
    					<div class="sales-data">
    						<h2>45.89 <span>万</span></h2>
    						<ul>
    							<li>人次</li>
    						</ul>
    					</div>
    					<div class="sales-data">
    						<h2>28.73 <span>万</span></h2>
    						<ul>
    							<li>场次</li>
    						</ul>
    					</div>
    					<div class="sales-data">
    						<h2>34.5 <span>万</span></h2>
    						<ul>
    							<li>平均票价</li>
    						</ul>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="box">
    		<div class="title">汽车销售</div>
    	</div>
    	<div class="content">
    		<div class="qidian">
    			<div class="box">
    				<div class="title">起点中文网</div>
    				<div class="qidian-content">
    					
    				</div>
    			</div>
    		</div>
    		<div class="travel">
    			<div class="box">
    				<div class="title">出行</div>
    			</div>
    		</div>
    	</div>
    </div>
  </body>
</html>
