/*-------
clearfix
-------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*-------
body
-------*/
body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #121029;
}

a {
    color: #00B7FF;
}

ul li {
    list-style: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-title {
    flex: 1;
    text-align: center;
    background: -webkit-linear-gradient(#fff 37%, #00a1ff 63%);
    background: -o-linear-gradient(#fff 37%, #00a1ff 63%);
    background: -moz-linear-gradient(#fff 37%, #00a1ff 63%);
    background: linear-gradient(#fff 37%, #00a1ff 63%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
}

.header-left {
    position: relative;
    width: 35%;
    height: 40px;
    background: -webkit-linear-gradient(left, rgba(47, 97, 182, 0), rgba(47, 97, 182, 1));
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgba(47, 97, 182, 0), rgba(47, 97, 182, 1));
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgba(47, 97, 182, 0), rgba(47, 97, 182, 1));
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgba(47, 97, 182, 0), rgba(47, 97, 182, 1));
}

.header-left:after {
    content: '';
    width: 40px;
    height: 40px;
    background: #121029;
    position: absolute;
    top: 0;
    right: -30px;
    -webkit-transform: skew(-20deg, 0deg);
    border-right: solid 1px #223e90;
}

.header-left-broken-line {
    width: 20px;
    height: 40px;
    background: #121029;
    -webkit-transform: skew(-20deg, 0deg);
    border-right: solid 1px #223e90;
    padding-left: 10px;
    position: absolute;
    right: -20px;
    z-index: 2;
}

.header-right {
    position: relative;
    width: 35%;
    height: 40px;
    background: -webkit-linear-gradient(left, rgba(47, 97, 182, 1), rgba(47, 97, 182, 0));
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgba(47, 97, 182, 1), rgba(47, 97, 182, 0));
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgba(47, 97, 182, 1), rgba(47, 97, 182, 0));
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgba(47, 97, 182, 1), rgba(47, 97, 182, 0));
}

.header-right:before {
    content: '';
    width: 40px;
    height: 40px;
    background: #121029;
    position: absolute;
    top: 0;
    left: -30px;
    -webkit-transform: skew(20deg, 0deg);
    border-left: solid 1px #223e90;
}

.header-right-broken-line {
    width: 20px;
    height: 40px;
    background: #121029;
    -webkit-transform: skew(20deg, 0deg);
    border-left: solid 1px #223e90;
    padding-left: 10px;
    position: absolute;
    left: -20px;
    z-index: 2;
}

.main {
    width: 96%;
    height: 80%;
    margin: auto;
}

.main .box {
    background:
        linear-gradient(to left, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) left top no-repeat,
        linear-gradient(to bottom, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) left top no-repeat,
        linear-gradient(to left, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) right top no-repeat,
        linear-gradient(to bottom, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) right top no-repeat,
        linear-gradient(to left, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) left bottom no-repeat,
        linear-gradient(to bottom, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) left bottom no-repeat,
        linear-gradient(to left, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) right bottom no-repeat,
        linear-gradient(to left, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) right bottom no-repeat;
    background-size: 1px 20px, 20px 1px, 1px 20px, 20px 1px;
    border: solid 2px rgba(6, 104, 186, 0.4);
    border-radius: 3px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
    height: 80vh;
}

.main .box .grabox {
    background:
        linear-gradient(to left, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) left top no-repeat,
        linear-gradient(to bottom, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) left top no-repeat,
        linear-gradient(to left, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) right top no-repeat,
        linear-gradient(to bottom, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) right top no-repeat,
        linear-gradient(to left, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) left bottom no-repeat,
        linear-gradient(to bottom, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) left bottom no-repeat,
        linear-gradient(to left, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) right bottom no-repeat,
        linear-gradient(to left, rgba(2, 118, 220, 0.5), rgba(2, 118, 220, 0.5)) right bottom no-repeat;
    background-size: 1px 20px, 20px 1px, 1px 20px, 20px 1px;
    border: solid 2px rgba(6, 104, 186, 0.4);
    border-radius: 3px;
    margin: 20px;
    float: left;
    width: 66%;
    height: 90%;
    box-sizing: border-box;

}

.main .box .content {
    width: 30%;
    float: left;
}

.main .box .title {
    width: 75%;
    cursor: pointer;
    margin: 20px 20px 0 20px;
    height: 40px;
    line-height: 40px;
    float: left;
    position: relative;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background: rgba(10, 29, 83, 0.8);
    border: solid 2px rgba(40, 183, 251, 0.4);
    box-shadow: 0 0 3px rgba(40, 62, 225, 0.25);
}

.main .box .title:hover {
    background: #3256bccc;
}

.main .box .title.hover {
    background: #3256bccc;
}

.main .box .title:last-child {
    margin-bottom: 20px;
}

.main .box .title:after {
    content: '';
    width: 19px;
    height: 23px;
    background: rgb(16, 15, 55);
    position: absolute;
    z-index: 2;
    top: 19px;
    right: -13px;
    border-left: solid 3px rgba(40, 183, 251, 0.4);
    -webkit-transform: skew(-38deg, 0deg);
}